@media all and (min-width: 1600px) {
   #main-nav a {
       font-size: 20px;
   }
   #header img {
       margin-top: 5%;
   }
   #container-header {
        margin-top: 10%;
    }
    #animation-header .animation-letter {
       font-size: 70px;
    }
    #container-header h2 {
        font-size: 35px;
    }
    .title {
        font-size: 40px;
    }
    #img-about #my-photo {
        width: 60%;
    }
    .skills-row img {
        width: 90px;
        height: 90px;
        margin-bottom: 10px;
    }
    #portfolio-img {
        height: 450px;
        width: 70%;
    }
    p,
    #contact address {
        font-size: 20px;
    }
    #form {
        font-size: 18px;
    }
    #footer {
        font-size: 15px;
    }
}

@media all and (max-width: 992px) {
    #main-nav #nav-elements {
        text-align: center;
    }
    #header-elements {
        padding-top: 0px;
    }
    #container-header {
        padding-top: 90px;
    }
    #animation-header .animation-letter {
        font-size: 45px;
    }
    #container-header h2 {
        font-size: 24px;
    }
    #header img {
        width: 47vh;
        height: 64vh;
        margin-top: 20px;
    }
    #about {
        padding-bottom: 100px;
    }
    #about h2 {
        padding-top: 30px;
    }
    #img-about #my-photo {
        width: 40%;
    }
    #about p {
        text-align: center;
        padding-top: 30px;
        padding-right: 0;
    }
    #skills h2 {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    #skills-first-row {
        padding: 0;
    }
    .skills-row img {
        margin-top: 5px;
    }
    #content-show {
        display: flex;
    }
    #mask {
        display: none;
    }
    #hide-under992 {
        display: none;
    }
    #show-img {
        display: flex;
    }
    .btn-portfolio input {
        width: 20%;
    }
    #portfolio h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #contact {
        padding-top: 90px;
    }
    #contact-me a {
        margin: 10px 20px 50px 0px;
    }
}

@media all and (max-width: 768px) {
    #animation-header .animation-letter {
        font-size: 40px;
    }
    #container-header h2 {
        font-size: 20px;
    }
    #header img {
        margin-top: 40px;
    }
    #about h2 {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #img-about #my-photo {
        width: 45%;
    }
    #about p {
        font-size: 15px;
    }
    #skills p {
        font-size: 15px;
        padding-bottom: 50px;
    }
    #skills h2 {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .btn-portfolio input {
        width: 25%;
    }
    #show-img {
        height: 320px;
        width: 480px;
    }
}

@media all and (max-width: 576px) {
    #container-header {
        padding-top: 110px;
    }
    #animation-header .animation-letter {
        font-size: 36px;
    }
    #container-header h2 {
        font-size: 18px;
    }
    #header img {
        width: 42vh;
        height: 58vh;
        margin-top: 23px;
    }
    #about p {
        padding-left: 10px;
        padding-right: 10px;
    }
    #img-about #my-photo {
        width: 50%;
    }
    .title {
        font-size: 25px;
    }
    .btn-portfolio input {
        width: 30%;
    }
    #portfolio {
        padding-bottom: 80px;
    }
    #contact-me {
        margin-left: 20px;
    }
    #form {
        margin-left: 10px;
        margin-right: 10px;
    }
    #show-img {
        display: none;
    }
    #show-second-img {
        display: flex;
    }
}


@media all and (max-width: 480px) {
    #animation-header .animation-letter {
        font-size: 32px;
    }
    #container-header h2 {
        font-size: 16px;
    }
    #header img {
        width: 39vh;
        height: 54vh;
        margin-top: 28px;
    }
    .btn-portfolio input {
        width: 45%;
    }
    #form input[type="submit"] {
        width: 25%;
    }
    #show-second-img {
        width: 270px;
        height: 480px;
    }
}